body {
   font-family: 'Noto Sans SC', sans-serif;
   background-color: #f3f3f3;
}

.callout-container {
    height: 80vh;

    background: url('/assets/images/hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-container h2 {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 40px;
}

.nav-container img {
    margin-top: 20px;
    border-style: solid;
    border-color: #5bc0de;
}

.nav-container p {
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
}

a i {
    color: #e9ecef;
    letter-spacing: 8px;
}

.covid-container {
    border-style: solid;
    border-color: grey;
}

.covid-container h2,h3 {
    color: black;
    padding-bottom: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 40px;
}

.covid-container p {
    color: black;
    padding-top: 20px;
    margin-bottom: 70px;
}

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 30px;
}

.divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #5bc0de;
    margin-top: 30px;
}

.btn-style{
    border-radius: 20px;
    width: 140px;
    font-weight: bold;
}

/*jumbotron*/

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    font-family: 'Bebas Neue', cursive;
    color:white;
    margin-bottom: 90px;
    margin-top: 120px;
}

.jumbotron p {
    color: white;
    margin-bottom: 20px;
}

footer {
    background-color: #292b2c;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.btn-container {
  height: 80px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-social {
    text-align: center;
    letter-spacing: 8px;
    padding-bottom: 20px;
    margin-top: 10px;
}

/*----Classes CSS----*/

#class-title {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 40px;
}

/*----Contact CSS----*/

.contact-container {
    padding-top: 20px;
}

.contact-p {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    line-height: 35px;
}

.contact-map {
    padding-top: 20px;
    padding-bottom: 40px;
}



